

@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-06-05 14:37:36
 * @version $Id$
 */
body{
	background-color: #ffffff;
}
.whole-container{
	width:80%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	background-color: #ffffff;
}

/*box1*/
.head-box{
	width: 100%;
	height: 200px;
}

.head-image{
	width: 70px;
	height: 70px;
	margin-left: 46.5%;
	margin-top: 2%;
}

.head-p-wwc{
	font-size: 15px;
	text-align: center;
}

.head-p-cd
{
	font-family: "Courier New";
	font-size: 30px;
	text-align: center;
}

.head-p-chinese{
	font-family: "MingLiU";
	font-size: 20px;
	text-align: center;
}




/*box2*/
.navigation{
	width:100%;
	border-top:1px solid #e0e0e0;
	padding-top: 10px;
}
.navigation_1{
	width:100%;
	border-top:1px solid #e0e0e0;
	padding-top: 10px;
	margin-left: -10%;
    position:fixed;
    z-index:999;
    top:0px;
    background-color: white;
    _position:absolute;
    _bottom:auto;
    _top:expression(eval(document.documentElement.scrollTop));
}
.navigation-home{
	width:12.5%;
	margin-left: 2%;
	background-color: #fff;
	border: none;
	outline: none;
}
.navigation-about{
	width:12.5%;
	margin-left: 2%;
	background-color: #fff;
	border: none;
	outline: none;
}
.navigation-edit{
	width:12.5%;
	margin-left: 2%;
	background-color: #fff;
	border: none;
	outline: none;
}
.navigation-contact{
	width:12.5%;
	margin-left: 2%;
	background-color: #fff;
	border: none;
	outline: none;
}
.navigation-home{
	margin-left: 20%;
}
.navigation-contact{
	border-bottom: 1px solid #000;
	font-weight: bolder;
}
.line{
	position: absolute;
    margin-left: -5%;
}
.navigation-home-p{
	margin-bottom: 15px;
	font-size: 14px;
}
.navigation-about-p{
	margin-bottom: 15px;
	font-size: 14px;
}
.navigation-edit-p{
	margin-bottom: 15px;
	font-size: 14px;
}
.navigation-contact-p{
	margin-bottom: 15px;
	font-size: 14px;
}
.navigation-home:hover{
	cursor:pointer;
}
.navigation-about:hover{
	cursor:pointer;
}
.navigation-edit:hover{
	cursor:pointer;
}
.navigation-contact:hover{
	cursor:pointer;
}
.navigation-home:hover .line{
	animation: test 0.4s ease;
    border: 1px solid #000;
    width: 10%;
}
.navigation-edit:hover .line{
	animation: test 0.4s ease;
    border: 1px solid #000;
    width: 10%;
}
.navigation-about:hover .line{
	animation: test 0.4s ease;
    border: 1px solid #000;
    width: 10%;
}
@keyframes test {
            from{
                width: 0;
            }

            to{
                width: 10%;
            }
}



/*box3*/
.cp-img1{
	width: 50px;
	height: 50px;
	margin-left: 47%;
	margin-top: 30px;
}
.inf1-p1, .inf1-p2, .inf1-p3{
	margin-left: 45.5%;
} 

.cp-img2{
	width: 15px;
	height: 15px;
	margin-left: 35%;
}
.cp-img3{
	width: 15px;
	height: 15px;
	margin-left: 42%
}
.cp-img4{
	width: 15px;
	height: 15px;
	margin-left: 44%
}
.inf2-p1, .inf2-p2, .inf2-p3{
	margin-left: 37%;
	margin-top: -21px;
}
.inf2-p2{
	margin-left: 44%;
	margin-top: -21px;
}
.inf2-p3{
	margin-left: 46%;
	margin-top: -21px;
}



/*box4*/
.our{
	width:100%;
	margin-top: 100px;
}
.our-p-wwc,.our-p-concact{
	font-size: 14px;
	text-align: center;
}
.way{
	width:100%;
	display: flex;
	flex-direction: row;
}
.way-wechat,.way-blog,.way-phone,.way-email{
	width:15%;
	display: flex;
	flex-direction: row;
}
.way-wechat{
	margin-left: 20%;
}
.stable{
	width:15%;
}
.text{
	width:85%;
}
.wechat,.blog,.phone,.email{
	width:100%;
	height:20px;
}
.way-p1,.way-p2,.way-p3,.way-p4{
	font-size: 14px;
	margin-top: 0;
	margin-left: 5%;
}