@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-06-05 14:37:36
 * @version $Id$
 */
body{
	background-color: #ffffff;
}
.whole{
	width:80%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	background-color: #ffffff;
}

/*box1*/
.b1
{
	width: 100%;
	height: 200px;
}
.i1
{
	width: 70px;
	height: 70px;
	margin-left: 46.5%;
	margin-top: 2%;
}
.b12
{
	font-size: 15px;
	text-align: center;
}
.b13
{
	font-family: "Courier New";
	font-size:30px;
	text-align: center;
}

.b14
{
	font-family: "MingLiU";
	font-size: 20px;
	text-align: center;
}



/*box2*/
.function{
	width:100%;
	border-top:1px solid #e0e0e0;
	padding-top: 10px;
}
.function_1{
	width:100%;
	border-top:1px solid #e0e0e0;
	padding-top: 10px;
	margin-left: -10%;
    position:fixed;
    z-index:999;
    top:0px;
    background-color: white;
    _position:absolute;
    _bottom:auto;
    _top:expression(eval(document.documentElement.scrollTop));
}
.home,.about,.edit,.contact{
	width:12.5%;
	margin-left: 2%;
	background-color: #fff;
	border: none;
	outline: none;
}
.home{
	margin-left: 20%;
	border-bottom: 1px solid #000;
	font-weight: bolder;
}
.line{
	position: absolute;
    margin-left: -5%;
}
.home-p1,.about-p1,.edit-p1,.contact-p1{
	margin-bottom: 15px;
	font-size: 14px;
}
.home:hover,.about:hover,.edit:hover,.contact:hover{
	cursor:pointer;
}
.about:hover .line,.edit:hover .line,.contact:hover .line{
	animation: test 0.4s ease;
    border: 1px solid #000;
    width: 10%;
}
@keyframes test {
            from{
                width: 0;
            }

            to{
                width: 10%;
            }
}
.ins{
	width:100%;
	margin-top: 20px;
}
.fct-img1{
	width:100%;
	height:400px;
}
.decorate{
	width:20%;
	height:200px;
	background-color: #fff;
	margin-top: -300px;
	margin-left: 30%;
	margin-right: auto;
	position: absolute;
	opacity:0.7;
}
.dec-p1{
	text-align: center;
	font-size: 16px;
	font-family: STLiti;
	margin-top: 30px;
}
.dec-p2{
	text-align: center;
	font-size: 28px;
	font-family: STXinwei;
	margin-top: 40px;
	font-weight: bolder;
}
.exbition{
	width:100%;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
}
.control1,.control2,.control3,.control4{
	width:28%;
	margin-right: 3%;
	display: flex;
	flex-direction: column;
}
.control4{
	margin-right: 0;
}
.c1-img,.c2-img,.c3-img,.c4-img,.c5-img,.c6-img,.c7-img,.c8-img,.c9-img,.c10-img{
	width:100%;
	margin-top: 25px;
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%); 
}
.c1-img:hover,.c2-img:hover,.c3-img:hover,.c4-img:hover,.c5-img:hover,.c6-img:hover,.c7-img:hover,.c8-img:hover,.c9-img:hover,.c10-img:hover{
	-webkit-filter: grayscale(0%); 
	filter: grayscale(0%);
	transform: scale(1.1);
}
.our{
	width:100%;
	margin-top: 100px;
}
.our-p1,.our-p2{
	font-size: 14px;
	text-align: center;
}
.way{
	width:100%;
	display: flex;
	flex-direction: row;
}
.way1,.way2,.way3,.way4{
	width:15%;
	display: flex;
	flex-direction: row;
}
.way1{
	margin-left: 20%;
}
.stable{
	width:15%;
}
.text{
	width:85%;
}
.wetchat,.blog,.phone,.email{
	width:100%;
	height:20px;
}
.way-p1,.way-p2,.way-p3,.way-p4{
	font-size: 14px;
	margin-top: 0;
	margin-left: 5%;
}
